<ng-template #cpuInput>
  <mat-card>
    <mat-card-title *ngIf="formData.label?.length>0">{{formData.label}} {{formData.isRequired ? '*' : ''}}</mat-card-title>
    <mat-card-content>
        <mat-selection-list
          [attr.aria-label]="formData.label"
          [formControl]="formGroup.controls[formName]"
          [required]="formData.isRequired">
          <ng-container *ngFor="let item of items">
            <mat-list-option
              *ngIf="item.value!='-'"
              checkboxPosition="before"
              [value]="item.value"
              [class]="item.invalid?'invalid':''"
              [selected]="item.checked">{{item.label}}</mat-list-option>
            <mat-option *ngIf="item.value=='-'" disabled>
              <ng-container *ngIf="item.label!=null">{{item.label}}</ng-container>
              <mat-divider [inset]="false"></mat-divider>
            </mat-option>
          </ng-container>
        </mat-selection-list>
    </mat-card-content>
    <app-error [formName]="formName" [formGroup]="formGroup"></app-error>
  </mat-card>
</ng-template>

<app-base [componentsTemplate]="cpuInput" [childContext]="ctx"></app-base>
