@import 'node_modules/@angular/material/theming';
@import 'src/styles/theme';

$size: calc(8 * #{$cal-size});

:host {
  font-size: $cal-size;
}

.day, .empty {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  width: $size;
  height: $size;
  padding: 0.2em;
  margin: 1px;
  border-radius: 1em;
}

.day {
  cursor: pointer;
  position: relative;

  .number, .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
  }

  .number {
    font-size: 200%;
    font-weight: bold;
  }

  .info {
    display: none;
    text-align: center;
    color: black;
  }
}

.day:hover {
  opacity: 1;
  background: $color-cursor;
}

.day.info:hover .info {
  display: flex;
}

.day.info:hover .number {
  display: none;
}

.t1 {
  background: $color-urlaub;
}

.t2 {
  background: $color-urlaubhalb;
}

.t3 {
  background: $color-teilzeitfrei;
}

.t4 {
  background: $color-feiertag;
}

.t5 {
  background: $color-krank;
}

.t6 {
  background: $color-info;
}

.w6 {
  color: red;
}

.w6.t4 {
  background: transparent;
  border: 1px solid red;
}

.today {
  box-shadow: 0 0 15px 2px $color-today;
}
