@import 'node_modules/@angular/material/theming';
@import 'src/styles/theme';

:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: cornflowerblue;
}

.splash {
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 4em;
  font-weight: bold;
  animation-duration: 6s;
  animation-name: div;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes div {
  0% {
    transform: rotate(0deg);
    color: $color-urlaub;
  }
  25% {
    transform: rotate(30deg);
    color: $color-krank;
  }
  75% {
    transform: rotate(-30deg);
    color: $color-feiertag;
  }
  100% {
    transform: rotate(0deg);
    color: $color-urlaub;
  }
}

img {
  animation-duration: 6s;
  animation-name: img;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  width: 1em;
  margin-right: 0.25em;
}

@keyframes img {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
