@import '../../../../../node_modules/@angular/material/theming';
@import '../../../../styles/theme';

:host {
  display: flex;
  flex-flow: column;
  max-height: 100%;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 5px;

  .daytypes {
    display: flex;
    flex-flow: row;
    flex: 1;

    button {
      flex: 1;
    }
  }

  .week, .daytypes {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    .active {
      border-color: rgba(0, 0, 0, 0.5) !important;
      border-radius: 1em !important;
    }

    button {
      display: flex;
      align-items: center;
    }

    button:not(.weekctrl) {
      justify-content: center;
      border: 3px solid transparent;
    }

    button:not(:last-child) {
      margin-right: 5px;
    }

    .tnull {
      background: #a0a0ff;
    }
  }

  .week {
    button:not(.weekctrl) {
      width: 6em;
    }

    .weekctrl {
      min-width: initial;
    }

    .today {
      font-weight: bold;
    }
  }
}

.controls {
  display: flex;
  flex-flow: row;
  height: 100%;
  width: 100%;
  margin-bottom: 5px;

  button {
    padding: 0;
    font-size: 1em;
    border-radius: 1em;
    width: 100%;

    ::ng-deep .mat-icon {
      font-size: 10em;
      height: initial;
      width: initial;
    }
  }

  button.tnull {
    background: #a0a0ff;
  }

  button:not(:last-child) {
    margin-right: 5px;
  }
}

.calendarpanel {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 5px;

  .calendar {
    display: flex;
    flex-flow: row;
    overflow-y: auto;
    max-height: calc(100vh - 310px);
  }

  .timepanel {
    display: flex;
    flex-flow: column;
    flex: 1;
    max-height: calc(100vh - 310px);

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #ccc;
      font-size: 2em;
      padding: 0.4em;
      line-height: 1em;
    }

    .times {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      flex: 1;
      width: 100%;
      max-width: 100%;
      margin-bottom: 5px;
      overflow-y: auto;

      mat-card {
        cursor: pointer;
        margin: 2px;
        height: max-content;

        .mat-card-header .mat-card-title {
          margin-bottom: 0;
        }

        mat-card-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 48px;
        }

        .content {
          display: flex;
          flex-flow: row;
          align-items: center;

          div {
            padding: 0.5em;
          }

          input {
            background: transparent;
            border: none;
          }
        }
      }

      ::ng-deep .mat-card-header-text {
        margin: 0 !important;
      }

      mat-card.active.tnull {
        background: #a0a0ff;
      }
    }
  }

  .ctrls {
    display: flex;
    flex-flow: column;
  }
}

mat-card:not(.active) {
  background: transparent;
}

#importData {
  display: none;
}
