// $mdc-theme-primary: #FEDBD0;
// $mdc-theme-on-primary: #442C2E;
// $mdc-theme-secondary: #FEEAE6;
// $mdc-theme-on-secondary: #442C2E;
// $mdc-theme-surface: #FFFBFA;
// $mdc-theme-on-surface: #442C2E;
// $mdc-theme-background: #FFFFFF;
// $mdc-theme-on-background: #442C2E;


// Color Palette
$clCpuBlue:   #003163;     // CPU Blau: RGB(  0, 49, 99)
$clCpuRed:    #880038;     // CPU Rot:  RGB(136,  0, 56)
$clCpuGrey:   #9B9D9F;     // CPU Grau: RGB(155,157,159)
$clMouseOver: #0000FF;
$clGrey:      #e9e3e6;
$clBlack:     #000000;
$clWhite:     #FFFFFF;

// Fonts
$font1:        "Avenir",         AvenirLTStd-Roman;
$font1_Bold:   "Avenir Bold",    AvenirLTStd-Black;
$font1_Cursiv: "Avenir Cursive", AvenirLTStd-Oblique;

$font2:        "Frutiger",         FrutigerLTStd-Roman;
$font2_Bold:   "Frutiger Bold",    FrutigerLTStd-Black;
$font2_Cursiv: "Frutiger Cursive", FrutigerLTStd-Italic;

// Pading & Margin, Sizing
$cube: 1rem;
