@import 'src/styles/variables';

html, body {
  height: 100%;
}
body {
  margin: 0;
}

.modultitle{
    color: $clBlack;
    font-family: $font1;
    font-size: $cube*2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.fullScreenContainer {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
.header {
    flex: 0 1 auto;
}
.useRemainingHeight {
    flex: 1 1 auto;
}
.navtree {
  border: dotted lightgray;
  height: 80vh;
    //height: 80%;
}
.logoff {
  border: dotted lightgray;
    //height: 20%;
}
.infoBox {
    height: 21%;
}
.componentBox {
    height: 67%;
}
.footer {
    height: 10%;
}
.scrollableContent {
    overflow-y: auto;
}

