@import 'src/styles/variables';


.btn {
  margin-top: 3px;
  margin-left: 3px;
  // @include button.density(-0);
  // color: #000000;
}

.mat-raised-button {
  margin: 2px 2px;
}

.mat-raised-button.mat-primary {
  color: #7A7A7A;
  // color: $clCpuBlue;
  background: #EEEEEE;
  // background: $clGrey;
  font-family: Avenir, AvenirLTStd-Roman;
}
