.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "Input-Area"
      "Button-Area";
}
.Button-Area {
    grid-area: Button-Area;
    display: flex;
    column-gap: 3px;
}
.Input-Area {
    grid-area: Input-Area;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
