.debug--warning
{
  background-color: yellow;
  color: red;
  padding: 1em;
  border: 0.5em dashed red;
}

.debug
{
  display: inline-block;
}

.formcontrolvalue
{
  background-color: yellow;
}

.todo
{
  background-color: red;
}
