@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import 'src/styles/variables';

$cpu-theme-primary: mat.define-palette(mat.$grey-palette, 700, 300, 900);
$cpu-theme-accent: mat.define-palette(mat.$indigo-palette, 900);
$cpu-theme-warn: mat.define-palette(mat.$pink-palette);

$cpu-theme: mat.define-light-theme($cpu-theme-primary, $cpu-theme-accent, $cpu-theme-warn);

$color-urlaub: map-get(mat.$blue-palette, 300);
$color-urlaubhalb: map-get(mat.$blue-palette, 200);
$color-teilzeitfrei: map-get(mat.$green-palette, 200);
$color-urlaub-body: map-get(mat.$blue-palette, 200);
$color-urlaubhalb-body: map-get(mat.$blue-palette, 100);
$color-teilzeitfrei-body: map-get(mat.$green-palette, 100);
$color-krank: map-get(mat.$amber-palette, 300);
$color-krank-body: #ff7;
$color-feiertag: map-get(mat.$pink-palette, 300);
$color-feiertag-body: #fcc;
$color-info: map-get(mat.$pink-palette, 100);
$color-cursor: rgba(64, 64, 255, 0.3);
$color-today: #f00;
$color-frei: #eee;
$color-frei-font: #800;
$color-current: #aaf;

$cal-size: 0.7em;

.t1 {
  background: $color-urlaub;
}

.t2 {
  background: $color-urlaubhalb;
}

.t3 {
  background: $color-teilzeitfrei;
}

.t4 {
  background: $color-feiertag;
}

.t5 {
  background: $color-krank;
}

.t6 {
  background: $color-info;
}

.t7 {
  background: $color-frei;
  color: $color-frei-font;
}
