:host {
  flex-flow: row;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 16px;
}

img[logo] {
  height: 75%;
}

[left] {
}

[center] {
  display: flex;
  flex-flow: column;
  white-space: pre-wrap;
  align-items: center;
  justify-content: center;
  height: 100%;

  [title] {
    display: flex;
    align-items: center;
    font-size: 1.5em;
  }

  [subtitle] {
    display: flex;
    font-size: 0.5em;
    font-style: italic;
    align-items: center;
    height: 1em;
    margin-top: 0.3em;
  }
}

[right] {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
}
