/*
  Only typography / font styles for cpu-ag.com

  Included *before* layout.scss
 */


.outer--divider h2 {
  font-size: 100%;
  margin: 0;
}

.outer mat-card-title.mat-card-title
{
  font-size: inherit;
  font-weight: inherit;
}


.big-table.app-table {
  .label--td {
    font-size: 75%;
  }
}


@media(max-width: 60em) {
  .app-table {
    .label--td {
      font-size: 75%;
    }
  }
}
