<ng-template #cpuInput>
  @if (sessionService.haveFun) {
    <nav class="stepper" mat-tab-nav-bar>
      <mat-horizontal-stepper #stepper
                              (selectionChange)="stepChanged($event.selectedIndex)">
        @for (item of items; track $index) {
          <mat-step
            [completed]="false"
            [label]="item.label"
            [state]="item.icon">
            <mat-icon>subject</mat-icon>
          </mat-step>
        }
        <!-- Icon overrides. -->
        <ng-template matStepperIcon="person">
          <mat-icon>face</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="account">
          <mat-icon>account_balance</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="condition">
          <mat-icon>gavel</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="page">
          <mat-icon>coronavirus</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="add">
          <mat-icon>note_add</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="refresh">
          <mat-icon>refresh</mat-icon>
        </ng-template>
      </mat-horizontal-stepper>
    </nav>
  } @if (!sessionService.haveFun) {
  <nav mat-tab-nav-bar>
    @for (item of items; track item; let idx = $index) {
      <a (click)="stepChanged(idx)"
         [active]="navIdx===idx"
         [disabled]="item.disabled"
         disableRipple
         mat-tab-link>
        {{ item.label }}
      </a>
    }
  </nav>
}
</ng-template>

<app-base [childContext]="ctx" [componentsTemplate]="cpuInput"></app-base>
