@import 'node_modules/@angular/material/theming';
@import 'src/styles/theme';

:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.content {
  width: 100vw;
  height: calc(100vh - 64px);
}

mat-toolbar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  .title {
    display: flex;
    flex-flow: row;
    align-items: center;
    img {
      height: 48px;
      margin-right: 1em;
    }
  }

  .versioninfo {
    font-size: 50%;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1em;
  }
}
