<div mat-dialog-title i18n>Projekt</div>
<div mat-dialog-content>
  <form [formGroup]="form" #formDirective="ngForm">
    <div class="content">
      <app-autocomplete [outerWidth]="2"
                        [innerWidth]="2"
                        i18n-label label="Projekt"
                        formName="name"
                        [items]="projectList"
                        [formGroup]="form" autofocus></app-autocomplete>
      <app-newline></app-newline>
      <app-input-text [outerWidth]="2"
                      [innerWidth]="2"
                      formName="info"
                      [formGroup]="form"></app-input-text>
      <app-newline></app-newline>
      <app-slider [max]="maxDuration"
                  [formGroup]="form"
                  formName="duration"></app-slider>
    </div>
    <mat-error *ngIf="txtError!=null">{{txtError}}</mat-error>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="saveClick()" i18n>Speichern</button>
  <button mat-button (click)="cancelClick()" i18n>Abbrechen</button>
</div>
