// import our custom theme
@import './styles/theme.scss';

// always include only once per project
@include mat-core();

// specify theme class eg: <body class="my-theme"> ... </body>
.cpu-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($cpu-theme);
}

/* You can add global styles to this file, and also import other style files */
@import './styles/common';
@import './styles/body';
@import './styles/button';
@import './styles/container';
@import './styles/input';

/* CPU styles */
@import './styles/typo';
@import './styles/layout';
@import './styles/color';
@import './styles/debug'; /* don't include in prod mode */

@font-face {
  font-family: "Avenir";
  src: url('./assets/fonts/AvenirLTStd-Roman.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Bold";
  src: url('./assets/fonts/AvenirLTStd-Black.otf') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Cursive";
  src: url('./assets/fonts/AvenirLTStd-Oblique.otf') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Frutiger";
  src: url('./assets/fonts/FrutigerLTStd-Roman.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Frutiger Bold";
  src: url('./assets/fonts/FrutigerLTStd-Black.otf') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Frutiger Cursive";
  src: url('./assets/fonts/FrutigerLTStd-Italic.otf') format("truetype");
  font-weight: normal;
  font-style: italic;
}


// ################################################################################################

@import './styles/variables';

// ################################################################################################

::selection {
  background-color: $clBlack;
  color: $clWhite;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: $clWhite;
  height: 100%;
  font-family: Avenir, AvenirLTStd-Roman, serif;
  font-weight: 500;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.6);
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

td {
  vertical-align: top;
  font-family: $font1;
  font-size: $cube*3;
}

.debug-outer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-radius: 0.8em;
  background: repeating-linear-gradient(
      45deg,
      #fa0,
      #fa0 10px,
      #000 10px,
      #000 20px
  );

  div.debug, a.debug  {
    background: rgba(240, 240, 240, 0.95);
    border-radius: 0.6em;
  }

  div.debug {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0.3em;
    margin-left: 5px;
  }
}
